*.DS_Store

build/
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
**/__pycache__/
*-checkpoint.ipynb
**/.ipynb_checkpoints
**/.ipynb_checkpoints/**


# Docusaurus site
website/yarn.lock
website/build/
website/i18n/
website/node_modules/*
website/npm-debug.log

## Generated for tutorials
website/_tutorials/
website/static/files/
website/pages/tutorials/*
!website/pages/tutorials/index.js


## Conda and pip builds
packaging/out/
packaging/output_files/
dist/
wheels/
